# 01 Основы языка Python

Рассмотрим принципы работы с языком, арифметические операции, вывод на экран.

# 1. Очень простые «программы»
## 1.1 Запуск Python из командной строки
Чтобы выполнить фрагменты кода, мы можем запустить Python из командной строки. В этом блокноте Jupyter мы собираемся смоделировать это. Вы можете вводить команды в поля и выполнять их.
В поле введите:

`print('Hello, World')`

Затем нажмите `<shift> + <return>`, чтобы выполнить команду.

In [1]:
print('Hello, World')

Hello, World

Что случилось?

Вы только что создали программу, которая печатает слова «Hello, World». Среда Python, в которой вы находитесь, немедленно компилирует все, что вы ввели. Это называется интерпретатор языка.

## 1.2 Математика в Python
Наберите в ячейке
`1 + 1`
и выполните код. (см. п. 1.1.)

In [4]:
1 + 1

2

Теперь введите

`20 + 80`

выполните код.

In [5]:
20 + 80

100

Попробуйте и другие операции

`+` сложение

`-` вычитание

`*` умножение

`/` деление

In [6]:
50 - 2 * 5 + 9 / 3

43.0

Существует операция возведения в степень: $5^2 = $ `5 ** 2`. Попробуйте вычислить в строке ниже.

In [7]:
5**2

25

Операции деления с остатком:

// - целая часть от деления

% - остаток от деления

Посчитайте `7//3`, `11%4`

In [14]:
7//3

3

## 1.3 print - вывод на экран

Рассмотрим синтаксис этой функции. Самый простой пример:

`print()`

Даже если функция не получает никаких аргументов, все равно необходимо вставлять после названия пустые скобки, что значит для интерпретатора выполнить функцию, а не просто ссылаться на нее.

В результате этого будет выведен неотображаемый символ пустой строки, она появиться на экране, не нужно путать это с пустой строкой, в которой вообще нет никаких символов.

Но чаще всего нужно передать какое-то сообщение пользователю, к примеру:

`print('Your message here')`

Следующий пример – вывод строкового значения из переменной:

`message = 'Hello world'`

`print(message)`

In [20]:
message = 'Hello world'
print(message)

Hello world

Выведем разные типы данных:


```
print('one', 'two', 'three')  # str

print(42)  # int

print(3.14)  # float

print(True)  # bool

print([1, 2, 3])  # list

print({'red', 'green', 'blue'})  # set

print({'name': 'Alice', 'age': 42})  # dict

print((1, 2, 3))  # tuple
```

In [23]:
print({'name': 'Alice', 'age': 42})

{'name': 'Alice', 'age': 42}

Вы также можете распечатать переменные, просто разделив их запятыми
```
name = "Аделаида"
print("Привет", name, "как дела?")
```

In [28]:
name = "Аделаида"
print("Привет,", name, "как дела?")

Привет, Аделаида как дела?

#1.4 Комментарии

Комментарий это строка кода, которая не выполняется. Служит для разных пояснений. Выполните следующий код:

`# I am a comment. Fear my wrath!`

In [21]:
# I am a comment. Fear my wrath!

Комментарий — это фрагмент кода, который не запускается. В Python вы добавляете комментарий, помещая перед ним #. # комментирует все, что находится после него в строке, и ничего перед ним. Попробуйте:

`print("food is very nice") #eat me`

In [22]:
print("food is very nice") #eat me

food is very nice

# 1.5 Приоритет операций

Помните ту штуку, которую учили на уроках математики, под названием "порядок действий"? Что ж, это применимо и к Python. Вот оно, если вам нужно напомнить:

1. Круглые скобки()
2. Возведение в степень **
3. Умножение *, деление / и остаток %
4. Сложение + и вычитание -

Вот несколько примеров, которые вы можете попробовать:
```
1 + 2 * 3
(1 + 2) * 3
```

In [29]:
(1 + 2) * 3

9

# Задание 1

Используя оператор print выведите на экран небольшой рассказ о себе. Должно быть использовано не менее 8 операторов print.

Пример:

```
print('Привет всем! Меня зовут Аристотель.')
print("Я родился в городе Стагире, греческой колонии в Халкидиках, недалеко от Афонской горы, между июлем и октябрём в первый год ",99," олимпиады." )
print('Я люблю всякие науки, например философию.')
print("Долгими зиминими вечерами я обычно размышляю о физике.", "А потом о метафизике.")
```

In [38]:
print('Привет всем! Меня зовут Роман')
print("Я родился в городе Москва в", 2003 ,"году" )
print('Я люблю читать и писать')
print("Сейчас мне", 2025 - 2003, "года")
print("Я учусь на журфаке")
print('Я люблю всякие науки, например философию.')
print("У меня есть собака")
name = "Одри"
print("Ее зовут", name )
print("Восьмая строка")

Привет всем! Меня зовут Роман
Я родился в городе Москва в 2003 году
Я люблю читать и писать
Сейчас мне 22 года
У меня есть собака
Я люблю всякие науки, например философию.
У меня есть собака
Ее зовут Одри
Восьмая строка

# Задание 2

Карандаш стоит 18 рублей 45 копеек за штуку. Покупатель дал кассиру 500 рублей и хочет купить 8 карандашей. Какую сдачу он должен получить? Ответ дайте в рублях.

In [42]:
500 - (18.45 * 8)

352.4

# Задание 3

Ребенок в день съедает два творожка. Творожок продается в упаковках по пять штук. Какое наименьшее число упаковок надо купить, чтобы ребенку хватило на две недели?

In [51]:
import math
math.ceil(14*2/5)

6

# Задание 4

Килограмм картошки 32 рубля. У Олега есть 1000 р, из этой суммы он 640 р должен положить на телефон, а на остальные деньги он купил картошку. Сколько килограмм купил Олег, если он получил сдачу 8 рублей?

In [44]:
( 1000 - 640 - 8 ) / 32

11.0